@use '../util' as *;

.btn {
  padding: 1em 2em;
  border: none;
  border-radius: 2.5rem;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--greydarken3);
  transition: background-color .1s
} 