@use '../util' as *;

#app {
  background-color: var(--lightgrey5);
}

.app {
  min-height: 100vh;

  @include breakpoint(large) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .app__content {
    @include breakpoint(large) {
      margin-top: 0;
    }
  }
}

.welcome {
  width: 80%;
  margin: rem(30) auto rem(40) auto;
}


.board {
  width: 90%;
  margin: 0 auto;
  background-color: var(--lightgrey5);
  color: var(--greydarken);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  @include breakpoint(large) {
    height: 440px;
    margin-top: rem(40);
    padding: rem(40);
    width: 600px;
    background-color: white;
    border-radius: 5%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  }
}

.infos {
  display: flex;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  color: black;
  border-radius: 0 0 rem(20) rem(20);
  padding: rem(20) 0 rem(20) 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);

  @include breakpoint(large) {
    margin-bottom: rem(60);
  }

  .infos__score {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .timer {
    font-size: rem(30);
  }
}

.quizz__image {
  width: 125px;
  height: 150px;
  border-radius: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid hsl(0deg 0% 91%);
  margin: 0 auto;
}

.confettis {
  width: 400px;
  pointer-events: none;
  position: absolute;
  bottom: 5%;
  left: 0;

  @include breakpoint(large) {
    left: 35%;
    bottom: 0;
  }
}
