@use '../util' as *;

h1,
h2,
h3 {
  margin: 0;
}

a,
a:visited,
a:active {
  text-decoration: none;
}

button,
label,
span,
a,
li,
p {
  font-size: rem(16);
  font-weight: 600;

  @include breakpoint(medium) {
    font-size: rem(14);
  }
}

.h1 {
  font-size: rem(36);
}

.h2 {
  font-size: rem(26);
}

.h3 {
  font-size: rem(20);
}

button,
label {
  letter-spacing: 1px;
}
